# Global config
*                    @

# Terraform Owner
* .tf                @
‚
# Terratest Owner
terratests/           @

# Workflow Owner
.github/workflows/   @
.gitlab-ci.yml       @
azure-pipelines.yml  @